@import url('/styles/atributos.css');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 /* Header */

.container-header{
    display: flex;
    box-shadow: 1px 1px 10px 1px black;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 0px;
    background-color: #ffff;
    position: fixed;
    width: 100%;
}
.container-menu{
    display: flex;
    flex-direction: row;
    gap: 64px;
}
.container-img{
    height: 100px;
}
.button-menu{
    text-decoration: none;
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: rgb(80, 81, 83);
    transition: font-size 250ms, color 250ms;
}
.button-menu:hover{
    font-size: 16px;
    color: #0B39C8AD;
}
.button-info{
    background-color: rgb(80, 81, 83);
    text-decoration: none;
    color: #ffff;
    padding: 10px;
    border-radius: 8px;
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
    font-size: 14px;
    transition: font-size 250ms;
}
.button-info:hover{
    font-size: 16px;
}

/* Main */

.container-main{
    height: 100vh;
}
.content-info{
    background-image: url(assets/banner-home2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    display: flex;
}
.content-text{
    display: flex;
    flex: auto;
    flex-direction: column;
    justify-content: center;
    margin-left: 12%;
    margin-top: 7%;
}
.title-content{
    font-family: 'Krona One', sans-serif;
    font-weight: 700;
    font-size: 45px;
    color: #ffff;
}
.subscription-content{
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
    font-size: 27px;
    color: #ffff;
    width: 60%;
    margin: 2% 0px;
}
.button-text{
    background-color: #ff8100;
    border: 2px solid #ffff;    
    width: 200px;
    text-align: center;
    text-decoration: none;
    color: #ffff;
    border-radius: 8px;
    padding: 10px;
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
    font-size: 12px;
    box-shadow: 3px 3px 1px 3px black;
    transition: box-shadow 250ms, width 250ms;
}
.button-text:hover{
    box-shadow: 0px 0px 0px 0px black;
    width: 220px;
}

.content-advantage{
    background-image: url(assets/fundo.png);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
}
.content-advantage-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.content-advantage-title{
    color: #ffff;
    font-size: 37px;
    font-weight: 600;
    text-transform: none;
    font-style: normal;
    line-height: 47px;
    padding-top: 2em;
    font-family:'Krona One', sans-serif;
    text-align: center;
    margin-bottom: 1em;
}


.content-advantage-paragraph{
    color: #ffff;
    font-size: 13px;
    font-weight: 600;
    text-transform: none;
    font-style: normal;
    font-family:'Krona One', sans-serif;
    text-align: flex-start;
    max-width: 89em;
    line-height: 25px;
}
.width{
    width: 100em;
}

.content-advantage-items{
    display: flex;
    flex-direction: column;
    padding: 1em 8em;

}

.advantage-items{
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 500;
    line-height: 35px;
    font-family:'Krona One', sans-serif;
    margin-top: 1em;
}
.button-margin{
    margin: 5em;
}

.advantage-box{
    padding: 20px 20px;
    border: 1px solid rgb(0 0 0 / 23%);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 23%);
}

.container-box{
    display: flex;
    gap: 2em;
    align-items: center;
    justify-content: center;
    margin: 3em 3em;
}

.coments-box{
    background-color: #C7DEFD;
    padding: 20px 20px;
    align-items: center;
}

.coments-box-text{
    display: flex;
    color:#575859;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    margin: bottom  ;
}